.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .logo-text {
    font-weight: bold;
    color: #000000;
  }
  .X{
    font-weight: bold;
    color: green;
  }
  
  .nav-buttons button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .nav-buttons button:hover {
    background-color: #333;
  }
  